{% extends 'base/base.html' %}
  {% load static %}
  {% block content %}
  <div class="container" style="padding-left: 0px;margin-bottom: 18px;margin-top: 18px">
    <h3 class=""><i>Todo a tu alcance...</i></h3>

  </div>
  <img src="{% static 'images/Diapositiva1.jpg' %}" class="img-fluid" alt="Responsive image" style=" height: 621px; border-radius: 13px">
  <!-- <img src="https://i.ibb.co/MfThB2Y/Portal-Bancario-Banner.jpg" class="img-fluid" alt="Responsive image" style=" height: 621px; border-radius: 13px"> -->
{% endblock %}
