{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="container" style="padding-left: 0px;margin-bottom: 18px;margin-top: 18px">
        <h3 class=""><i>Listado de usuarios</i></h3>
    </div>
    <table class="table table-dark">
        <thead style="background-color: #31307d;">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Usuario</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody style="background-color: white;color: black;">
            {% for user in object_list %}
            {% if user.profile.rol.descripcion != 'Empleado' and user.username != 'admin' %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{% url 'users:userapp' user.id %}" title="Cuentas">
                        <i class="material-icons">attach_money</i>
                    </a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}